@{
    ViewBag.Title = "Weather Service";
}

@Scripts.Render("~/scripts/app.js")
@Styles.Render("~/Content/font-awesome.css")

<div class="jumbotron">
    <div style="float: left">
        <h1>Weather Service</h1>
    </div>
    <div style="float: right">
        <h1>
            <i id="spinner" class="fa fa-spinner fa-spin hidden" style="font-size: 48px; color: black"></i>
        </h1>
    </div>
    <p style="clear:left" class="lead">Select or enter a country, choose a city and finally choose a weather provide to get the weather.</p>
</div>

<div id="error" style="display: none" class="alert alert-danger">
    <strong>Service unavailable. </strong>This service is currently unavailable or experiencing issues. Please try again later
</div>

<div id="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Country</h2>
            <p>
                Select a country:
            </p>
            <select id="countriesDropDown" style="width: 100%"></select>
            <br />
            <br />
            <p>
                Country not found? Enter one below:
            </p>
            <input type="text" style="width: 100%"></input>
        </div>
        <div class="col-md-4">
            <h2>
                City
                <i id="citiesSpinner" class="fa fa-spinner fa-spin hidden" style="margin-left: 10px;font-size: 24px; color: black"></i>
            </h2>

            <div id="citySelectCountry" style="display: none">
                <p><i>Please select a country</i></p>
            </div>
            <div id="cityNoneFound" style="display: none">
                <p>No cities were found for the selected country</p>
            </div>
            <div id="citySelectCity" style="display: none">
                <p>
                    Select a city:
                </p>
                <select id="citiesDropDown" style="width: 100%"></select>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Weather Provider</h2>
            <p>
                Select a weather provider:
            </p>
            <select id="providersDropDown" style="width: 100%"></select>
            <br />
            <br />
            <a class="btn btn-default btn-primary" style="width: 100%">Go!</a>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            app.init();
        });
    </script>
}